/* line 1, ../_sass/css-sampler.scss */
.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 8, ../_sass/css-sampler.scss */
.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

/* nested grids */
/* line 16, ../_sass/css-sampler.scss */
.row .row, .row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}

/* full width grids */
/* line 22, ../_sass/css-sampler.scss */
.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}

/* center grids */
/* line 28, ../_sass/css-sampler.scss */
.row.center {
  justify-content: center;
}

/* line 32, ../_sass/css-sampler.scss */
.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}

/* columns widths */
/* line 39, ../_sass/css-sampler.scss */
.col-span-1 {
  flex-basis: 8.3333%;
}

/* line 43, ../_sass/css-sampler.scss */
.col-span-2 {
  flex-basis: 16.6666%;
}

/* line 47, ../_sass/css-sampler.scss */
.col-span-3 {
  flex-basis: 25%;
}

/* line 51, ../_sass/css-sampler.scss */
.col-span-4 {
  flex-basis: 33.3333%;
}

/* line 55, ../_sass/css-sampler.scss */
.col-span-5 {
  flex-basis: 41.6666%;
}

/* line 59, ../_sass/css-sampler.scss */
.col-span-6 {
  flex-basis: 50%;
}

/* line 63, ../_sass/css-sampler.scss */
.col-span-7 {
  flex-basis: 58.3333%;
}

/* line 67, ../_sass/css-sampler.scss */
.col-span-8 {
  flex-basis: 66.6666%;
}

/* line 71, ../_sass/css-sampler.scss */
.col-span-9 {
  flex-basis: 75%;
}

/* line 75, ../_sass/css-sampler.scss */
.col-span-10 {
  flex-basis: 83.3333%;
}

/* line 79, ../_sass/css-sampler.scss */
.col-span-11 {
  flex-basis: 91.6666%;
}

/* line 83, ../_sass/css-sampler.scss */
.col-span-12 {
  flex-basis: 100%;
}

/* examples */
/* line 89, ../_sass/css-sampler.scss */
.fixed-width {
  flex: 0 0 500px;
  background-color: rgba(255, 0, 0, 0.1) !important;
}

@media all and (max-width: 568px) {
  /* line 95, ../_sass/css-sampler.scss */
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4,
  .col-span-5 {
    flex-basis: 50%;
  }

  /* line 103, ../_sass/css-sampler.scss */
  .col-span-6,
  .col-span-7,
  .col-span-8,
  .col-span-9,
  .col-span-10,
  .col-span-11 {
    flex-basis: 100%;
  }

  /* line 112, ../_sass/css-sampler.scss */
  .nested .col {
    flex-basis: 100%;
  }
}
/* eye candy */
/* line 120, ../_sass/css-sampler.scss */
body {
  font-family: sans-serif;
}

/* line 124, ../_sass/css-sampler.scss */
.row {
  background-color: #cccccc;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 128, ../_sass/css-sampler.scss */
.col {
  background-color: #999999;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: content-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
