<head>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" media="screen">

    <!-- Enable the use of HTML5 sectioning elements in legacy IE and basic HTML5 styling for IE 6-9,
    Safari 4.x (and iPhone 3.x), and Firefox 3.x -->
    <link
        rel="alternate"
        type="application/rss+xml"
        title="{{ site.title }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml" >

    <!-- MathJax configuration -->
    <!-- for configuration options see
         https://docs.mathjax.org/en/v2.5-latest/options/HTML-CSS.html#configure-html-css

         For CSS style objects see
         https://docs.mathjax.org/en/v2.5-latest/options/HTML-CSS.html#configure-html-css
     -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true
            },
            "HTML-CSS": {
                preferredFont: "TeX",
                availableFonts: ["STIX","TeX"],
                styles: {
                    ".MathJax .merror": {
                        color:   "#dd0000",
                        padding: "1px 3px",
                        "font-style": "normal",
                        "font-size":  "90%"
                    }
                },
                linebreaks: { automatic: true },
                scale: 100
            }
        });
    </script>

    <!-- Load MathJax -->
    <script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
    </script>
    {% include meta.html %}
</head>
