<head>
    {% include meta.html %}

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" media="screen">

    <!-- Add in Google font call  -->
    <!--<link href='http://fonts.googleapis.com/css?family=Kreon' rel='stylesheet' type='text/css'>-->

    <script src="{{ site.baseurl }}/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Enable the use of HTML5 sectioning elements in legacy IE and basic HTML5 styling for IE 6-9, Safari 4.x
    (and iPhone 3.x), and Firefox 3.x -->
    <link
        rel="alternate"
        type="application/rss+xml"
        title="{{ site.name }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml" >
    <link
        rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
