/**************/
/* VARIABLES  */
/**************/

// Colors from http://clrs.cc/. These are easier on the eyes than the default HTML/CSS
// colors of the same name.
$Navy: #001f3f;
$Blue: #0074d9;
$Aqua: #7fdbff;
$Teal: #39cccc;
$Olive: #3d9970;
$Green: #2ecc40;
$Lime: #01ff70;
$Yellow: #ffdc00;
$Orange: #ff851b;
$Red: #ff4136;
$Maroon: #85144b;
$Fuschsia: #f012be;
$Purple: #b10dc9;
$Black: #111111;
$Gray: #aaaaaa;
$Silver: #dddddd;
$White: #ffffff;

// Additional color definitions
$NearlyBlack: #222222;
$DarkGray: #888888;
$PaleGray: #EBEBEB;
$LightGray: #bfbfcc;
$MediumGray: #bbbbbb;
$PaleCornflowerBlue: #abcdef;
$DarkReef: #CEF0AD;
$Cosmic: #794d60;
$DarkCosmic: #784859;
$Dingley: #597848;

$Cornflower: #8CCAF0; // lighter than cornflowerblue
$Chambray: #475877;
$BlackPearl: #1E272C;
$Ghost: #C0BFC7;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=13q0u0kllllaFw0g0qFqFg0w0aF */

// Feel free to copy&paste color codes to your application */

// As hex codes */
$color-primary-0: #27586B;	// Main Primary color */
$color-primary-1: #6D92A0;
$color-primary-2: #457485;
$color-primary-3: #103E50;
$color-primary-4: #022735;

// As RGBa codes */
$rgba-primary-0: rgba( 39, 88,107,1);	// Main Primary color */
$rgba-primary-1: rgba(109,146,160,1);
$rgba-primary-2: rgba( 69,116,133,1);
$rgba-primary-3: rgba( 16, 62, 80,1);
$rgba-primary-4: rgba(  2, 39, 53,1);


$sidebar_background_color: $color-primary-1;
$navbar_background_light: $color-primary-2;
$navbar_background_dark: $color-primary-4;
$navbar_border_color: $color-primary-2;
$footer_border_color: $color-primary-2;
$selection_background: $color-primary-2;
//$main_background: $DarkGray;
$main_background: #49483e;

$main_color: rgba(255, 255, 255, 0.8);
$text_color: $main_color;
$link_color: $color-primary-3;
$hover_color: $color-primary-4;
$heading_h2_color: $color-primary-2;
$time_color: rgba(255, 255, 255, 0.5);

$cssMiddot: "\00b7";
$fixed-width: 960px;
$left_logo_and_menu: 15px;

// Font stacks
// Relative URLs are allowed in the 'url()' function and are relative to the URL of the stylesheet (not the
// URL of the web page).
// @font-face {
//     font-family: 'nexa_rust_extrasfree';
//     src: url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.eot');
//     src: url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.woff2') format('woff2'),
//          url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.woff') format('woff'),
//          url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.ttf') format('truetype'),
//          url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.svg#nexa_rust_extrasfree') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'nexa_rust_handmadeextended';
//     src: url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.eot');
//     src: url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.woff2') format('woff2'),
//          url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.woff') format('woff'),
//          url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.ttf') format('truetype'),
//          url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.svg#nexa_rust_handmadeextended') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'nexa_rust_sansblack';
//     src: url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.eot');
//     src: url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
//          url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.woff') format('woff'),
//          url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.ttf') format('truetype'),
//          url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.svg#nexa_rust_sansblack') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'nexa_rust_script_l0regular';
//     src: url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.eot');
//     src: url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.woff2') format('woff2'),
//          url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.woff') format('woff'),
//          url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.ttf') format('truetype'),
//          url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.svg#nexa_rust_script_l0regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Nexa Rust Slab';
    src: url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.eot');
    src: url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
         url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
         url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.ttf') format('truetype'),
         url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/Noto/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$Georgia: Georgia, serif;
$NexaRustSlab: 'Nexa Rust Slab';
//$body-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$body-font-family: "Helvetica Neue", Helvetica, 'Noto Sans', Arial, sans-serif;
$heading-font-family: $Georgia;
$alternative-heading-font-family: $Georgia;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
