//
// IMPORTS
//

@import 'reset';
@import 'variables';
@import 'grid';
@import 'svg-icons';
@import 'html5boilerplate';

////////////
// LAYOUT //
////////////

/* ====== Additional Styling ====== */

// header
#top {
    margin-bottom: 1em;
    background-color: $Gray;
}

// main column & sidebar
#maincolumn {
    @include column(12);
    background-color: $Lime;
}

#sidebar {
    @include column(9);
    //@include push();
    //@include pull();
    background-color: $Teal;
}

.group {
    background-color: $Teal;
}

/**************/
/* BASE RULES */
/**************/
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre code {
	white-space: pre;
	overflow: auto;
	display: block;
	padding: 1em;
	background-color: $CodeBackgroundColor;
}

body {
    font-family: $body-font-family;
}

header {
    img {
    padding: 0 2em;
  }

  h1 {
    font-family: $heading-font-family;
    margin: 0 1em;
    font-size: 2em;
    margin-bottom: 0.4em;
    color: $Black;
  }

  p {
    font-family: $heading-font-family;
    margin-left: 2em;
	margin-bottom: 0.5em;
  }

  // TODO(doug): Figure out the SASS code to make this element inherit/use the same background-color as the
  // element in which it is contained (a <header> element in the case of _includes/header.html).
  nav {
    ul {
        //margin: 0;
        font-family: $heading-font-family;
        font-size: 1em;
        // top | right | bottom | left
        padding: 1em 0em 0em 1em;
        list-style: none;
    }

    li {
        display: inline-block;}

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

.archive h1, h2, h3, h4, h5, h6 {
    font-family: $alternative_heading-font-family;
    font-style: normal;
    font-weight: bold;
}

// h1 a {
//     text-decoration: none;
// }

// a {
// 	color: $Black;
// }
//
// h2 {
//     font-size: 1.5em;
// 	padding: 0.4em 0;
//     color: $Black;
// }
//
//
// .body-content {
//     background-color: $Gray;
//     color: $Black;
//     text-align: left;
//     @include pull(1);
// 	margin-left: 1em;
//     margin-bottom: 1em;
// 	padding: 0 38px 40px 0;
// }
//
footer {
  @include column(9);
}

// // Use in HTML like: <h2><b>Victors <abbr class="amp" title="And">&amp;</abbr> Villains</b></h2>
// .amp {
//     font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
//     font-style: italic;
//     font-weight: normal;
// }

p {
	margin: 0.5em 0;
}
