/**************/
/* VARIABLES  */
/**************/
@import "modules/color-contrast";

// Colors from http://clrs.cc/. These are easier on the eyes than the default HTML/CSS
// colors of the same name.
$Navy: #001f3f;
$Blue: #0074d9;
$Aqua: #7fdbff;
$Teal: #39cccc;
$OysterBay: #ccf1f1;
$Olive: #3d9970;
$Green: #2ecc40;
$Lime: #01ff70;
$Yellow: #ffdc00;
$Orange: #ff851b;
$Red: #ff4136;
$Maroon: #85144b;
$Fuschsia: #f012be;
$Purple: #b10dc9;
$Black: #111111;
$Gray: #aaaaaa;
$Silver: #dddddd;
$White: #ffffff;

// Additional color definitions
$NearlyBlack: #222222;
$DarkGray: #888888;
$PaleGray: #EBEBEB;
$LightGray: #bfbfcc;
$MediumGray: #bbbbbb;
$PaleCornflowerBlue: #abcdef;
$DarkReef: #CEF0AD;
$Cosmic: #794d60;
$DarkCosmic: #784859;
$Dingley: #597848;
$Millbrook: #59584e;
$Merlin: #49483f;
$Cornflower: #8CCAF0; // lighter than cornflowerblue
$Chambray: #475877;
$BlackPearl: #1E272C;
$Ghost: #C0BFC7;
$Whisper: #e9e9e9;

$BackgroundGray: $Merlin;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=13q0u0kllllaFw0g0qFqFg0w0aF
// A monochromatic color palette, also known as the Pastel preset with a base color of #27586B
//$Primary$body_width #27586B;    // base
$PrimaryMiddleBlue: #30515d;
$PrimaryLightestBlue: #6D92A0;
$PrimaryLightBlue: #457485;
$PrimaryDarkBlue: #205E70;      // was #103E50
$PrimaryDarkestBlue: #002533;   // was #022735

$color-primary-0: $PrimaryMiddleBlue;
$color-primary-1: $PrimaryLightestBlue;
$color-primary-2: $PrimaryLightBlue;
$color-primary-3: $PrimaryDarkBlue;
$color-primary-4: $PrimaryDarkestBlue;

// Right column - the sidebar
$right_column_background_color: $color-primary-0;

// Navigation
$navbar_background_light: $color-primary-0;
$navbar_border_color: $navbar_background_light;
$navbar_background_dark: $color-primary-4;

// Footer
$footer_border_color: $navbar_background_light;
$selection_background: $color-primary-2;

//$left_column_background_color: $DarkGray;
$left_column_background_color: $BackgroundGray;
$code_block_background_color: $BlackPearl;
$inline_code_background_color: $left_column_background_color - #111111;

$body_width: 1200px;
$left_column_width: $body_width * 19 / 24;
$left_column_color: text-contrast($left_column_background_color);
$left_column_horizontal_padding: 25px;
$left_column_vertical_padding: 20px;
$text_color: $left_column_color;
$excerpt_color: $Olive;
$post_date_color: $Cornflower;

$right_column_padding: 10px;
$right_column_width: $body_width - $left_column_width - $right_column_padding * 2;

// Links
//$link_color: $Teal;
$link_color: $OysterBay;
$hover_color: text-contrast($left_column_background_color);
$visited_color: text-contrast($left_column_background_color);
$visited_hover_color: $Whisper;
$link_active_color: $Green;

// H2 headings
$heading_h2_color: $left_column_color;
$time_color: rgba(255, 255, 255, 0.5);

$cssMiddot: "\00b7";
$left_logo_and_menu: 15px;

// Font stacks
// Relative URLs are allowed in the 'url()' function and are relative to the URL of the stylesheet (not the
// URL of the web page).
// @font-face {
//     font-family: 'nexa_rust_extrasfree';
//     src: url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.eot');
//     src: url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.woff2') format('woff2'),
//          url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.woff') format('woff'),
//          url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.ttf') format('truetype'),
//          url('/fonts/NexaRustFree/NexaRustExtras-Free-webfont.svg#nexa_rust_extrasfree') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'nexa_rust_handmadeextended';
//     src: url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.eot');
//     src: url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.woff2') format('woff2'),
//          url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.woff') format('woff'),
//          url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.ttf') format('truetype'),
//          url('/fonts/NexaRustFree/NexaRustHandmade-Extended-Free-webfont.svg#nexa_rust_handmadeextended') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'nexa_rust_sansblack';
//     src: url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.eot');
//     src: url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
//          url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.woff') format('woff'),
//          url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.ttf') format('truetype'),
//          url('/fonts/NexaRustFree/NexaRustSans-Black-Free-webfont.svg#nexa_rust_sansblack') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'nexa_rust_script_l0regular';
//     src: url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.eot');
//     src: url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.woff2') format('woff2'),
//          url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.woff') format('woff'),
//          url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.ttf') format('truetype'),
//          url('/fonts/NexaRustFree/NexaRustScriptL-0-Free-webfont.svg#nexa_rust_script_l0regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Nexa Rust Slab';
    src: url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.eot');
    src: url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
         url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
         url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.ttf') format('truetype'),
         url('/fonts/NexaRustFree/NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/Noto/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$Georgia: Georgia, serif;
$NexaRustSlab: 'Nexa Rust Slab';
//$body-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$body-font-family: "Helvetica Neue", Helvetica, 'Noto Sans', Arial, sans-serif;
$heading-font-family: $Georgia;
$alternative-heading-font-family: $Georgia;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
