//
// IMPORTS
//
@import 'normalize';
@import 'modules/variables';
@import 'svg-icons';
@import 'syntax-highlighting';
// @import 'alternative-syntax-highlighting';

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
  font-size: 100%;
  // This animation and the keyframes styling below are an experiment to see if
  // I can overcome any Flash Of Unstyled Content using a CSS animation. It doesn't
  // yet help with MathJax rendering of matrices and other mathematical expressions.
  animation: amp-timeout 0s 10s 1 normal forwards;
}

@keyframes amp-timeout {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

html>body {
  font-size: 16px;
}

// Give a width to our content area and center it. Note: "overflow: hidden" doesn't work on the
// <body> element, so a <div id="container"> element wraps everything in the body.
#container {
  background-color: $right_column_background_color;
  width: $body_width;
  margin: auto; /* This causes unspecified margins to be calculated automatically and equally.
                   It ensures the container will be centered on the page. */
  margin-top: 20px; /* This moves the whole page (header included) down the page a little bit, so
                       it isn't tightly against the browser's chrome */
  border: 3px solid $BorderlineGray;
  border-radius: 20px;
  overflow: hidden; /* Hack to mitigate clipping of corners */
}

/*
  Using display: flex; to make the sidebar column the same length as the main content.
  See: http://tutorialzine.com/2014/10/easiest-way-equal-height-sidebar/ for details.
*/
#boxes {
  //display: flex;
  background-color: $right_column_background_color;
}

#left-column {
  background-color: $left_column_background_color;
  /* This makes the element grow and take all available space, not taken by the sidebar */
  width: $left_column_width;
  float: left;
  padding-left: $left_column_horizontal_padding;
  padding-right: $left_column_horizontal_padding;
  padding-bottom: $left_column_vertical_padding;
  color: $left_column_color;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

#right-column {
   background-color: $right_column_background_color;
   width: $right_column_width;
   float: right;
   padding: $right_column_padding;
}

#right-column h4 {
   font-family: $heading-font-family;
   font-size: 1.0em;
   margin-bottom: 20px;
   margin-top: 20px;
   color: $heading_h2_color;
}

#right-column ul li {
   font-family: $Georgia;
   font-size: 0.9em;
   line-height: 1.25;
}

// My check lists
li.checkbox:before {
  content: $ballot_box;
  margin-right: 5px;
  color: $checklist_color;
}

li.checkbox_done:before {
  content: $ballot_box_checked;
  margin-right: 5px;
  color: $checklist_color;
}

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

:link {color: $link_color;}
:link:hover {color: $hover_color;}
:visited {color: $visited_color;}
:visited:hover {color: $visited_hover_color;}
:link:active, :visited:active {color:$link_active_color;}

.archive {
  color: $time_color;
}

// Tag Cloud - not yet ready, but something to contemplate
// .tags {
//     list-style: none;
//     padding: 0;
//     text-align: justify;
//     font-size: 20px;
// }
//
// .tags li {
//     display: inline-block;
//     //margin: 0 25px 25px 0;
// }

// Adding some background colors so we can see where our boxes are
header#banner {
  background: linear-gradient(to bottom, $navbar_background_light, $navbar_background_dark);
//  height: 150px;
  background-repeat: no-repeat;
  background-image: url(../../../img/base/aquarium-slice.jpg);
}

// Positioning for our logo image
img#header-img {
 position:relative;
 top: 7px;
 left: $left_logo_and_menu;
}

// BEGIN FOOTER TEXT STYLES

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
// NOTE: This is needed for the little CC-BY-SA icon in the license.
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

// Change colors in the footer. Change height and add background image.
footer {
  background: linear-gradient(to bottom, $navbar_background_light, $navbar_background_dark);
  border-top: thick solid $footer_border_color;
  color: $White;
  height: 120px;
  clear: both;
}

// Different link colors in the footer
footer a:link {
  color: $DarkGray;
}

footer a:visited {
  color: $White;
}


footer p#about {
  width:300px;
  // margin order: top, right, bottom, left
  margin:20px 50px 0px 10px; // Play with these to suit
  float:left;   // Other elements in the footer will wrap to the right of this
}

footer section#footerlist {
  float:right; // Place this on the other side of the footer
  padding-right:10px;
  margin-top:10px; // Play with this
}

footer section#footerlist ul  {
  padding-left:0px; // Unindent the list so it lines up with the h3 above it.
}

footer section#footerlist ul li {
  list-style-type:none; // Remove default discs from list items.
}

footer section#footerlist h3 {
  margin-top:0px;
}

footer p#footercopy {
  clear:both;
  text-align:center;
  //font-size:0.9em; // Slightly smaller text for copyright text.
}

// END FOOTER STYLES


// Add some padding to our boxes. This overrides the browser defaults that added a 1em
footer {
  padding: 10px;
}

/* Specify fonts for section headers and article Ps. Note that
  <link href='http://fonts.googleapis.com/css?family=Kreon' rel='stylesheet' type='text/css'>
 was added to _includes/head.html to make the Kreon font-family available. */
h2.roll-post-title {
  font-family: $heading-font-family;
  //font-size: 1.0em;
  margin-bottom: 20px;
  margin-top: 20px;
}

span.post-date {
  color: $post_date_color;
}
span.excerpt {
  font-family: $body-font-family;
  font-size: 1.0em;
  letter-spacing: 1.25px;
  line-height: 1.25;
  color: $excerpt_color;
}

/* ==========================================================================
   Table Styling
   ========================================================================== */
table {
  width: 90%;
  border-collapse: collapse;
  background: $NearlyBlack;
}

td, th {
  border: 1px solid $NearlyBlack;
  padding: 2px 4px 2px 8px;
}

tbody tr:nth-child(odd) {
  background-color: $Olive;
}

tbody tr:nth-child(even) {
  background-color: $Dingley;
}

/* Shortcut Tables */
table.category {
	font-size: 0.8em;
}

table.main {
  width: 90%;
  margin-left: 0%;
  margin-top: 15px;
  margin-bottom: 15px;
}

table.sub {
	width: 88%;
	padding-left: 2%;
	margin-left: 2%;
	margin-top: -5px;
	margin-bottom: 20px;
}

table.category td,
table.category th {
	padding: 2px 4px 2px 8px;
	text-align: left;
	vertical-align: middle;
	height: 30px;
}

table.category th {
	font-weight: bold;
  border-bottom: 1px solid $NearlyBlack;
}

td.shortcut {
	width: 35%;
}


/* Table Helper */
.plus_minus {
	text-align: right;
  padding: 0;
  float: right;
}

.plus_minus img {
	vertical-align: middle;
	padding-bottom:2px;
	padding-right: 2px;
}

.expand {
	display: none;
}

.goto_top {
  float: right;
  height: 15px;
  color: #519548;
  padding-top: 3px;
  margin-right: 5%;
  text-align: right;
}


/* ==========================================================================
   Styling for image div with caption
   ========================================================================== */
.article_img {
  float:left;
  width:200px;
  padding:5px;
  border:1px solid $text_color;
  margin: 5px 20px 5px 0px;
}

.article_img2 {
  width:100%;
  padding:5px;
  margin: 5px 20px 5px 0px;
}

// Styling for caption within image div
.article_img p {
  margin-top:0px;
  margin-bottom:0px;
  //font-size:0.8em;
  font-style:italic;
  padding-top:5px;
}


/* ==========================================================================
   START NAV MENU
   ========================================================================== */
nav {
  background-color: $navbar_background_light;
  border-bottom: thick solid $navbar_border_color;
  height: 40px;
}


nav ul {
  // font-family: Arial, Verdana;
  //font-size: 140%;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: block;
  position: relative;
  float: left;
}

nav li ul {
  display: none;
}

nav ul li:first-child a {
  display: block;
  text-decoration: none;
  // padding order: top, right, bottom, left;
  padding: 7px 15px 3px 0px;
  background: $navbar_background_light;
  color: $left_column_color;
  margin-left: 0px;
  white-space: nowrap;
  height:30px; // Width and height of top-level nav items
  width: 90px;
  text-align: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  // padding: top, right, bottom, left
  padding: 7px 15px 3px 15px;
  background: $navbar_background_light;
  color: $left_column_color;
  margin-left: 0px;
  white-space: nowrap;
  height:30px; // Width and height of top-level nav items
  width:90px;
  text-align:center;
}

nav ul li a:hover {
  background: #617F8A;
}

nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}

nav li:hover li {
  float: none;
  // font-size: 11px;

}

nav li:hover a {
  //background: #3A464F;
  height:30px; // Height of lower-level nav items is shorter than main level
}

nav li:hover li a:hover {
  //background: #95A9B1;
}

nav ul li ul li a {
  text-align:left; // Top-level items are centered, but nested list items are left-aligned
}

// END NAV MENU


/* ==========================================================================
   Keyboard Style
   ========================================================================== */
span.kbd {
	border-radius: 4px;
	border-style: outset;
	border: 1px solid $Black;
	background: $Merlin;
	padding: 0px 3px 1px 3px;
  margin: 0px 0px 0px 0px;
	vertical-align: baseline;
	line-height: 1.8em;
	white-space: nowrap;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
// .clearfix:before,
// .clearfix:after {
//   content: " "; /* 1 */
//   display: table; /* 2 */
// }
//
// .clearfix:after {
//   clear: both;
// }


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  // Style adjustments for viewports that meet the condition
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  // Style adjustments for high resolution devices
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; // Black prints faster:
                            // http://www.sanbeiji.com/archives/953
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }


  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    // border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
