// Colors from http://clrs.cc/. These are easier on the eyes than the default HTML/CSS
// colors of the same name. The use of '!default' means that these values will be used
// unless they are already defined. See the 'themes' subdirectories for other values.
$Aqua:      #7fdbff !default;
$Black:     #111111 !default;
$Blue:	    #0074d9 !default;
$Fuschsia:  #f012be !default;
$Gray:      #aaaaaa !default;
$Green:     #2ecc40 !default;
$Lime:      #01ff70 !default;
$Maroon:    #85144b !default;
$Navy:      #001f3f !default;
$Olive:     #3d9970 !default;
$Orange:    #ff851b !default;
$OysterBay: #ccf1f1 !default;
$Purple:    #b10dc9 !default;
$Red:       #ff4136 !default;
$Silver:    #dddddd !default;
$Teal:      #39cccc !default;
$White:     #ffffff !default;
$Yellow:    #ffdc00 !default;

// Additional color definitions
$BlackPearl:          #1E272C !default;
$BorderlineGray:      #4B4B4B !default;
$Chambray:            #475877 !default;
$Cornflower:          #8CCAF0 !default; // lighter than cornflowerblue
$Cosmic:              #794d60 !default;
$DarkCosmic:          #784859 !default;
$DarkGray:            #888888 !default;
$DarkReef:            #CEF0AD !default;
$Dingley:             #597848 !default;
$Ghost:               #C0BFC7 !default;
$LightGray:           #bfbfcc !default;
$MediumGray:          #bbbbbb !default;
$Merlin:              #49483f !default;
$Millbrook:           #59584e !default;
$NearlyBlack:         #222222 !default;
$PaleCornflowerBlue:  #abcdef !default;
$PaleGray:            #EBEBEB !default;
$Whisper:             #e9e9e9 !default;
