<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        <!-- Note: "overflow: hidden" doesn't work on the <body> element, so a <div id="container">
             element wraps everything in the body. -->
        <div id="container">
            <header class="site-header">
                {% include header.html %}

                {% include navigation.html %}
            </header>   <!-- end class="site-header" -->
            <div id="boxes">  <!-- New div wrapper around the two boxes whose height we want to match -->
                <main id="left-column">
                    {{ content | replace: '<li>[ ]',
                        '<li class="checkbox"><input type="checkbox" disabled/>'
                       | replace: '<li>[x]',
                        '<li class="checkbox_done"><input type="checkbox" checked disabled/>' }}
                </main>

                {% include sidebar.html %}
            </div>  <!-- end id="boxes" -->

            {% include footer.html %}
        </div>  <!-- end id="container" -->

        <!-- analytics.html is just a script, so it doesn't need to be in the div container -->
        {% include analytics.html %}
    </body>
</html>
