$body_font_size: 1.0em;
$body_width: 60em;
$footer-height: 100px;
$main_content_basis_width: $body_width * 0.74;
$side_content_basis_width: $body_width * 0.25;
$section_padding_vertical: 0;
$section_padding_horizontal: 12px;
$footer_padding_horizontal: $section_padding_horizontal * 0.667;

@import 'modules/variables';
